.StartPage {
  padding: 48px 15px 13px;
  position: sticky;
  top: 0;
  /* background-color: #f3f3f3; */
}

.Nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
}

.searchForm {
  width: 100%;
  padding: 7px 14px;
  border: 1px solid #c6c6c6;
  border-radius: 12px;
  background-color: transparent;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchIcon {
  border: none;
  padding: 3px;
  background-color: transparent;
  color: #c6c6c6;
  font-weight: 500;
  font-size: 20px;
}

.searchForm input {
  background-color: transparent;
  border: none;
}

.searchForm input::placeholder {
  padding-left: 5px;
  color: #c6c6c6;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}

.iconProfile img {
  width: 34px;
}

.menuPages {
  margin: 20px 0;
  text-align: center;
}
