.Footer {
  position: sticky;
  bottom: 0;
  background-color: #f3f3f3;
  box-shadow: 0px -3px 7px rgb(190, 189, 189, 0.7);
}

.Footer nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2px 2px 30px;
}

.footerNavIcon {
  text-align: center;
  padding: 6px 7px;
  font-size: 20px;
  line-height: 0px;
  color: rgb(0, 0, 0, 0.7);
  border-radius: 8px;
  /* border: 0.5px solid; */
}

.footerNavIcon .footerImg {
  height: 25px;
}

.text {
  padding: 4px 0 8px;
  font-size: 9px;
}

.active {
  border-top: 1px solid #df4b53;
  /* background-color: #b6e7ee; */
  border-radius: 0;
}
